<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/#Specification">Specification</a></li>
    <li><a href="/#Implementations">Implementations</a></li>
    <li><a href="/#OpenAPI">Vendors</a></li>
    <li><a href="/#Vendors">Vendors</a></li>
    <li><a href="/#Demo">Demo</a></li>
    <li><a href="/#Tooling">Tooling</a></li>
    <li><a href="/#Tooling Ideas">Tooling Ideas</a></li>
    <li><a href="/#Supporting Projects">Supporting Projects</a></li>
    <li><a href="/#Revenue">Revenue</a></li>
    <li><a href="/#Stories">Stories</a></li>
    <li><a href="/#Get Involved">Get Involved</a></li>
    <li><a href="/#Final Thoughts">Final Thoughts</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>
</nav>
